*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.underLine{
  width: 6rem;
}
.main{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 800px;
}
.imgDiv{
  width: 150px;
  height: 150px;
  position: relative;
}

img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  left:-6px;
  top:6px;
}

.quoto{
  position: absolute;
  left:-10px;
  top:16px;
  z-index: 1;
}
.surprise{
  background-color: rgba(252, 127, 81,0.3);
}
.surprise:hover{
  background-color: rgba(252, 127, 81,1);
}
.surprise:active{
  background-color: #dc3545 !important;
  transform: scale(0.98);
}
.previous:active,.next:active{
  color:#dc3545 !important;
  transform: scale(0.98);
}